{% extends 'deploy/base.html' %}
{% block content %}

<h1><b><i><font color=green>INDLEDNING</font></i></b></h1>
<br>
<li><h3><u><a href="https://fly.io/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>FLY.IO</small> </a></u></h3> </li>


<h4>Jeg har nu to gang deployd med fly, dog uden database.<br>
    Den anden gang spurgte jeg Chat OpenAI om hjælp med følgende spørgsmål:<br>
    'kan du hjælpe med punkt for punkt hvordan jeg deploy i fly. Har lavet min django app i VS og gemt i Github'<br>
    Jeg fik følgende:<br>
    Inden du går i gang, sørg for at:

 - Du har en Django-app klar i GitHub.<br>

 - Du har Python-kravene i requirements.txt.<br>

 - Du har en databasekonfiguration (f.eks. PostgreSQL).<br>

 - Du har installeret Git og Docker på din maskine.(her kan du logge ind med både google og github)<br>

 - Du har oprettet en konto på Fly.io.<br>
 <br>
 Og ca 10 punkter. Det er dem jeg vil prøve at gennemgå med denne side.<br>
Der kan være lidt problemer undervejs, da fly kører i Linux, og jeg har brugt Windows.</h4>

{% endblock content %}